create-token-request.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
    targetNamespace="https://www.example.com"
    xmlns="https://www.example.com"
    elementFormDefault="qualified">
    <xs:element name="CreateTokenRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:choice>
                    <xs:element name="CreditCard">
                        <xs:complexType>
                            <xs:sequence>
                                <xs:element name="Account">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:length value="16" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:element name="CardHolderName">
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:minLength value="1" />
                                            <xs:maxLength value="50" />
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:element>
                                <xs:choice>
                                    <xs:element name="ExpirationDate">
                                        <xs:simpleType>
                                            <xs:restriction base="xs:gYearMonth" />
                                        </xs:simpleType>
                                    </xs:element>
                                    <xs:sequence>
                                        <xs:element name="ExpirationMonth">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:short">
                                                    <xs:minInclusive value="1" />
                                                    <xs:maxInclusive value="12" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                        <xs:element name="ExpirationYear">
                                            <xs:simpleType>
                                                <xs:restriction base="xs:short">
                                                    <xs:minInclusive value="1970" />
                                                    <xs:maxInclusive value="2999" />
                                                </xs:restriction>
                                            </xs:simpleType>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:choice>
                            </xs:sequence>
                        </xs:complexType>
                    </xs:element>
                </xs:choice>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>